body{
      width:100%;
      height:100%;
      background-color: #1C1815;
      cursor: url('../image/shou.ico');
      cursor: url('../image/shou.ico'),auto;
      overflow: hidden;
     }
     .start{
       width:595px;
       height: 366px;
       position: absolute;
       margin: auto;
       left: 0;
       top: 0;
       right: 0;
       bottom: 0;
       background-image: url('../image/startbg.png');
       background-size: 100% 100%;
       z-index: 9999;
     }
     .startClick{
       width:336px;
       height:121px;
       background-image: url('../image/start1.png');
       position: absolute;
       top:110px;
       left:140px;
     }
     .startClicking{
       background-image: url('../image/start2.png');
     }
     .saolei{
       /*width:895px;
       height: 600px;*/
       width:0;
       height:0;
       position: absolute;
       margin: auto;
       left: 0;
       top: 0;
       right: 0;
       bottom: 0;
       background-image: url('../image/beijing.jpg');
       background-size: 100% 100%;
       overflow: hidden;
       z-index: 999;
     }
      .box{
        width: 637px;
        height: 343px;
        position: absolute;
        left: 144px;
        top: 175px;
        display: none;
      }
      .block{
        width: 49px;
        height: 49px;
        float: left;
        background-image: url('../image/box.png');
      }
      .gameover{
        width:764px;
        height:572px;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
      }
      .restart{
        width:595px;
        height: 366px;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: -1000px;
        background-image: url('../image/startbg.png');
        background-size: 100% 100%;
        display: none;
      }
      .restartclick{
        width:336px;
        height:121px;
        background-image: url('../image/chongxin2.png');
        background-size: 100% 100%;
        position: absolute;
        top:110px;
        left:140px;
      }
      .restartclicking{
        background-image: url('../image/chongxin.png');
      }
      .islei{
        background-image: url('../image/lei.png');
      }
      .paichu{
        background-image: url('../image/paichu.png');
      }
      .biaoji{
         background-image: url('../image/qi.png');
      }
      .leishu {
        width: 75px;
        height: 33px;
        position: absolute;
        top: 138px;
        left: 148px;
        text-align: center;
        line-height: 33px;
        font-size: 20px;
        color:red;
        font-family: sans-serif;
      }
      .qishu{
        width:75px;
        height:33px;
        position: absolute;
        top:138px;
        right:112px;
        text-align: center;
        line-height: 33px;
        font-size: 20px;
        color:red;
        font-family: sans-serif;

      }
      .success{
        /*width:581px;
        height:283px;*/
        width:0;
        height:0;
        margin:auto;
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-image: url('../image/success.png');
        z-index: 5999;
        display: none;
      }
      .successclick{
        width:301px;
        height:69px;
        background-image: url('../image/zailaiyiju.png');
        background-size: 100% 100%;
        position: absolute;
        top:150px;
        left:140px;
        display: none;
        opacity:0;
      }
      .number1{
        background-image: url('../image/1.png');
      }
      .number2{
        background-image: url('../image/2.png');
      }
      .number3{
        background-image: url('../image/3.png');
      }
      .number4{
        background-image: url('../image/4.png');
      }
      .number5{
        background-image: url('../image/5.png');
      }
      .number7{
        background-image: url('../image/7.png');
      }
      .number6{
        background-image: url('../image/6.png');
      }
      .number8{
        background-image: url('../image/8.png');
      }
